﻿@model Bacchus.ViewModels.AuctionsViewModel

<div class="row">
    <div class="col-md-12 content pre-scrollable" style="max-height:500px">
        @{ var auctions = Model.UserBids;}
        @if (auctions.Count > 0)
        {
            @for (int i = 0; i < auctions.Count; i++)
            {
                <div class="table-holder">
                    @if (Model.AuctionWinners.Contains(auctions[i].UserId))
                    {
                        <h4 class="sucess-lbl">Winner</h4>
                    }

                    <table class="description-tbl bottom-separated-tbl">
                        <tr>
                            <td><label>Product name</label></td>
                            <td>@auctions[i].Bid.Product.ProductName</td>
                        <tr>
                            <td><label>Description</label></td>
                            <td>@auctions[i].Bid.Product.ProductDescription</td>
                        </tr>
                        <tr>
                            <td><label>Bid time</label></td>
                            <td>@auctions[i].Bid.BidTime</td>
                        </tr>
                        <tr>
                            <td><label>Bid amount</label></td>
                            <td>@auctions[i].Bid.BidAmount €</td>
                        </tr>
                    </table>
                </div>
            }
        }
        else
        {
            <h4> class="error-msg">No ended auctions yet!</h4>
        }
    </div>
</div>