﻿
@model Bacchus.ViewModels.IndexPageViewModel

<div class="row">
    @if (@Model.BidRegisterResult.Contains("Your bid is saved!"))
    {
        <div class="col-md-12 content alert-holder">
            <div class="alert alert-success">
                <strong>@Model.BidRegisterResult</strong>
            </div>
        </div>
    }
    else if (@Model.BidRegisterResult.Contains("Something went wrong!"))
    {
        <div class="col-md-12 content alert-holder">
            <div class="alert alert-danger">
                <strong>@Model.BidRegisterResult</strong>
            </div>
        </div>
    }

    <div class="col-md-3 content text-center side-nav">
        <h3>Categories</h3>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "categories" }))
        {
            var categories = Model.Categories;
            @if (categories.Count > 0)
            {
                <div class="btn-group-vertical">
                    <button type="submit"
                            class="btn btn-attention category"
                            name="productsCategory"
                            value="">
                        Clear selection
                    </button>
                    @for (int i = 0; i < categories.Count; i++)
                    {

                        <button type="submit"
                                class="btn btn-danger category"
                                name="productsCategory"
                                value="@categories[i]">
                            @categories[i]
                        </button>

                    }
                </div>
            }

        }
    </div>


    <div class="col-md-5 content form-content">
        <h3 id="products">Actual products</h3>

        @{ var products = Model.Products;
            @if (products.Count > 0)
            {
                <ul>
                    @for (int i = 0; i < products.Count; i++)
                    {
                        <li class="menu-list-item">
                            @Html.ActionLink(products[i].ProductName, "ShowProduct", "Home",
                                new { productId = products[i].ProductId }, new { @class = "info-link" })

                            <span class="extra-info">@products[i].BidTimeLeft</span>
                        </li>
                    }
                </ul>
            }
            else
            {
                <h4 class="error-msg">No products at the auction at the moment!</h4>
            }
        }

        <span class="result-message">@Model.BidRegisterResult</span>
    </div>

    <div id="dinamic-form"
         class="col-md-4 content form-content"
         style="display: @(Model.IsRegistrationFormHidden ? "none" : "block")">

        @using (Html.BeginForm("RegisterBidAsync", "Home", FormMethod.Post, new
        {
            id = "register-bid",
            @class = "registration-form"
        }))
        {
            <h3 id="registration-lbl">Bid registration</h3>
            <table class="description-tbl">
                <tr>
                    <td><label>Product name</label></td>
                    <td>@Model.CurrentProduct?.ProductName</td>
                </tr>
                <tr>
                    <td><label>Description</label></td>
                    <td>@Model.CurrentProduct?.ProductDescription</td>
                </tr>
                <tr>
                    <td><label>Time left</label></td>
                    <td name="@Model.CurrentProduct?.BiddingEndDate" id="end-date-timer"></td>
                </tr>
            </table>


            <div class="form-group">
                <label for="name-input">Firstname</label>
                <input id="name-input" type="text"
                       class="form-control"
                       name="userBid.FirstName"
                       required
                       maxlength="200" />
            </div>

            <div class="form-group">
                <label for="lastname-input">Lastname</label>
                <input id="lastname-input" type="text"
                       class="form-control"
                       name="userBid.LastName"
                       required
                       maxlength="200" />
            </div>



            <div class="form-group">
                <label for="amount-input">Bid amount</label>
                <div class="input-group">
                    <input id="amount-input" type="text"
                           class="form-control number"
                           name="userBid.Bid.BidAmount"
                           placeholder="00,00"
                           required
                           maxlength="20" />
                    <div class="input-group-append">
                        <span class="input-group-text">€</span>
                    </div>
                </div>
            </div>

            <input type="hidden" name="userBid.Bid.ProductId" value="@Model.CurrentProduct.ProductId" />

            <div class="btn-holder">
                <button type="submit" class="btn btn-danger btn-block">Save bid</button>
            </div>
        }

    </div>
</div>

