﻿
@model Bacchus.ViewModels.AuctionsViewModel

<div class="row">

    <div class="col-md-6 content form-content ">
        <h3>My auctions</h3>
        <div class="pre-scrollable">
            @{ var auctions = Model.UserBids;}
            @if (auctions.Count > 0)
            {

                @for (int i = 0; i < auctions.Count; i++)
                {
                    <table class="description-tbl bottom-separated-tbl">
                        <tr>
                            @{ var product = auctions[i].Bid.Product;}
                            <td><label>Product name</label></td>
                            <td>@product.ProductName</td>
                        </tr>
                        <tr>
                            <td><label>Description</label></td>
                            <td>@product.ProductDescription</td>
                        </tr>
                        <tr>
                            <td><label>Auction end</label></td>
                            <td>@String.Format("{0:G}", product.BiddingEndDate)</td>
                        </tr>
                        <tr>
                            <td><label>Bid time</label></td>
                            <td>@auctions[i].Bid.BidTime</td>
                        </tr>
                        <tr>
                            <td><label>Bid amount</label></td>
                            <td>@auctions[i].Bid.BidAmount €</td>
                        </tr>
                    </table>
                }

            }
            else
            {
                <h4 class="error-msg">Sorry, you don't have actual auctions, try to use search.</h4>
            }
        </div>
    </div>
    <div class="col-md-6 content form-content">
        @using (Html.BeginForm("MyAuctionsView", "MyAuctions", FormMethod.Post))
        {
            <h3>Search auctions</h3>
            <div class="form-group-md" style="max-width:400px">

                <label for="key-input">Insert user key</label>
                <input type="text"
                       id="key-input"
                       class="form-control"
                       name="userKey"
                       required maxlength="500" />
                <div class="btn-holder">
                    <button type="submit" class="btn btn-danger btn-block">Search</button>
                </div>
            </div>
            <h4 class="error-msg">@Model.Message</h4>

        }
    </div>
</div>
