﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Bacchus</title>
    <link href="~/bootstrap-v4/css/bootstrap.css" rel="stylesheet" />
    <link href="~/bootstrap-v4/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/bootstrap-v4/css/bootstrap-reboot.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid">
        <nav class="nav">
            <a class="logo" asp-controller="Home" asp-action="Index">Bacchus</a>
            <div class="nav-menu">
                <a class="nav-item" asp-controller="MyAuctions" asp-action="MyAuctionsView">My auctions</a>
                <a class="nav-item" asp-controller="AuctionResults" asp-action="AuctionResultsView">Ended auctions</a>
            </div>
        </nav>
        @RenderBody()
    </div>
    <footer>
        <p>© 2019 - Bacchus, Olga Suhoverkhaya</p>
    </footer>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/bootstrap-v4/js/bootstrap.js"></script>
    <script src="~/bootstrap-v4/js/bootstrap.bundle.js"></script>
    <script src="~/js/moment.js"></script>
    <script src="~/js/custom-scripts.js" asp-append-version="true"></script>

</body>
</html>